* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Space Grotesk", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1120px;
  padding: 0 20px;
  margin: auto;
}

header, section, footer {
  width: 100%;
  position: relative;
  z-index: 2;
}

section, footer {
  padding: 80px 0;
}

.main-bg {
  background: #284AFB;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.main-bg-map {
  background: url("../img/world-map.svg");
  background-position: top;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.heading-a {
  text-align: center;
  text-shadow: 0px -1px 0px #FFF;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.8px;
  text-transform: capitalize;
}
.heading-a.color-a {
  background: -webkit-gradient(linear, left top, left bottom, from(#ECEFFF), to(#FFF));
  background: linear-gradient(180deg, #ECEFFF 0%, #FFF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading-b {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.48px;
}
.heading-b.color-a {
  color: #111827;
}
.heading-b.left {
  text-align: left;
}
.heading-b.center {
  text-align: center;
}

.body-text-a {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
}
.body-text-a.color-a {
  color: rgba(255, 255, 255, 0.8);
}
.body-text-a.left {
  text-align: left;
}
.body-text-a.center {
  text-align: center;
}

.body-text-b {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.body-text-b.color-a {
  color: rgba(17, 24, 39, 0.8);
}
.body-text-b.left {
  text-align: left;
}
.body-text-b.center {
  text-align: center;
}

.white-btn-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  border-radius: 10px;
  background: #FFF;
  color: #284AFB;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.16px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.white-btn-a:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.white-btn-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  min-width: 224px;
  padding: 0px 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  background: #FFF;
  color: #284AFB;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.2px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.white-btn-b span {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.white-btn-b img {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.white-btn-b:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.white-btn-b:hover span {
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
}
.white-btn-b:hover img {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}

.blue-btn-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  min-width: 224px;
  padding: 0px 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  width: 100%;
  border-radius: 10px;
  background: #284AFB;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.2px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.blue-btn-a span {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.blue-btn-a img {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.blue-btn-a:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.blue-btn-a:hover span {
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
}
.blue-btn-a:hover img {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}

.sec-label {
  color: #284AFB;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.64px;
  text-transform: uppercase;
}
.sec-label.color-a {
  color: #fff;
}
.sec-label.left {
  text-align: left;
}
.sec-label.center {
  text-align: center;
}

.sec-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0px;
}
.sec-header .logo-box .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}
.sec-header .logo-box .logo img {
  height: 40px;
}
.sec-header .logo-box .logo .logo-a {
  -webkit-animation: logo-start-a 1s ease;
          animation: logo-start-a 1s ease;
}
.sec-header .logo-box .logo .logo-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 117px;
  overflow: hidden;
}
.sec-header .logo-box .logo .logo-b img {
  -webkit-animation: logo-start-b 2s ease;
          animation: logo-start-b 2s ease;
}

@-webkit-keyframes logo-start-a {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes logo-start-a {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes logo-start-b {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes logo-start-b {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}
nav a.nav-link {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.16px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 20px;
}
nav a.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  left: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  height: 1px;
  background: #fff;
}
nav a.nav-link:hover span {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
nav a.nav-link:hover::before {
  width: 100%;
}
nav a.nav-link span {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
nav a.nav-link span:last-child {
  top: 100%;
  left: 0;
}

.sec-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sec-hero .heading-a {
  margin-bottom: 16px;
}
.sec-hero .body-text-a {
  margin-bottom: 40px;
}

.sec-video {
  background: url("../img/video.jpg");
  background-size: 100% 100%;
  background-position: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sec-video:hover {
  background-size: 105% 105%;
}

.play-video {
  width: 120px;
  height: 120px;
  background: url("../img/play-btn.svg");
  border-radius: 120px;
  background-size: cover;
  border: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
.play-video:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.play-video:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.client-logo {
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: url("../img/logo-line.svg");
  background-size: 1120px;
  -webkit-animation: logo-line 16s linear infinite;
          animation: logo-line 16s linear infinite;
}

@-webkit-keyframes logo-line {
  0% {
    background-position: 1120px 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes logo-line {
  0% {
    background-position: 1120px 0;
  }
  100% {
    background-position: 0 0;
  }
}
.sec-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}
.sec-services .left-details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
  -ms-flex: 1 0 0px;
      flex: 1 0 0;
}
.sec-services .left-details .body-text-b {
  max-width: 320px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.calculate-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  border-radius: 10px;
  background: #FFF;
}
.calculate-box .result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
.calculate-box .result span {
  color: #111827;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.24px;
}
.calculate-box .result span.blue {
  color: #284AFB;
}
.calculate-box .action-calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
.calculate-box .action-calc .row-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
.calculate-box .action-calc .row-box .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}
.calculate-box .action-calc .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
.calculate-box .action-calc .item .label {
  color: #111827;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.24px;
  text-transform: capitalize;
}
.calculate-box .action-calc .item .select-calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  border-radius: 10px;
  background: #F6F8FB;
}
.calculate-box .action-calc .item .select-calc .option-calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  color: rgba(17, 24, 39, 0.8);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.14px;
  border-radius: 4px;
  text-transform: capitalize;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
.calculate-box .action-calc .item .select-calc .option-calc:hover {
  background: #FFF;
}
.calculate-box .action-calc .item .select-calc .option-calc.active {
  color: #111827;
  background: #FFF;
  -webkit-box-shadow: 0px 8px 12px -10px rgba(17, 24, 39, 0.08), 0px 8px 24px -2px rgba(17, 24, 39, 0.08);
          box-shadow: 0px 8px 12px -10px rgba(17, 24, 39, 0.08), 0px 8px 24px -2px rgba(17, 24, 39, 0.08);
}

.sec-found {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 64px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}
.sec-found .top-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
.sec-found .map {
  width: 100%;
}
.sec-found > .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
.sec-found > .items > .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}
.sec-found > .items > .item .num {
  color: #111827;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.48px;
}
.sec-found > .items > .item .title {
  color: #111827;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.sec-perference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 64px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
.sec-perference .top-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
.sec-perference .content-perference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
.sec-perference .content-perference .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
.sec-perference .content-perference .img-box img {
  width: 666px;
  position: absolute;
}
.sec-perference .content-perference .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  gap: 32px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.sec-perference .content-perference .items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 240px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}
.sec-perference .content-perference .items .item img {
  margin-bottom: 16px;
  width: 56px;
  height: 56px;
}
.sec-perference .content-perference .items .item .title {
  color: #111827;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.24px;
  margin-bottom: 12px;
}
.sec-perference .content-perference .items .item p {
  color: #111827;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.16px;
}

.sec-hiring-easy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 64px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}
.sec-hiring-easy .top-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
.sec-hiring-easy .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  position: relative;
}
.sec-hiring-easy .items::after {
  content: "";
  width: calc(100vw - 16px);
  height: 1px;
  top: 49px;
  position: absolute;
  background: #fff;
  z-index: 1;
}
.sec-hiring-easy .items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 321px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  z-index: 2;
}
.sec-hiring-easy .items .item .number {
  background: url("../img/HIW-bg.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 98px;
  height: 98px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid #FFF;
  color: #FFF;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.4px;
  text-transform: capitalize;
  margin-bottom: 32px;
}
.sec-hiring-easy .items .item .title {
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.36px;
  margin-bottom: 12px;
}
.sec-hiring-easy .items .item p {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.27px;
}

.sec-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 64px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}
.sec-blog .top-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
.sec-blog .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  gap: 32px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.sec-blog .items .link-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 280px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}
.sec-blog .items .link-article .img-box {
  aspect-ratio: 16/9;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.sec-blog .items .link-article .img-box img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.sec-blog .items .link-article .category {
  color: #284AFB;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.16px;
  text-transform: capitalize;
}
.sec-blog .items .link-article .title {
  overflow: hidden;
  color: #111827;
  text-overflow: ellipsis;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.2px;
}

.sec-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  border-radius: 10px;
  background: url("../img/form-bg.jpg");
  background-size: cover;
}

.sec-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
.sec-footer .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}
.sec-footer .item .logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sec-footer .item .logo-footer img {
  height: 32px;
}
.sec-footer .item .link-label {
  color: #111827;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.16px;
  text-transform: capitalize;
}
.sec-footer .item .link-footer {
  color: #111827;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.16px;
  text-transform: capitalize;
}